.dataHostCardList-body {
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(228, 228, 228, 0.3);
}

.dataHostCardList-body > div {
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
}

/* 滚动条整体 */
.dataHostCardList-body::-webkit-scrollbar {
  height: 10px;
  width: 6px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.dataHostCardList-body::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
.dataHostCardList-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(228, 228, 228, 0.2);
  background: rgba(228, 228, 228, 0.6);
}

/* 滚动条轨道 */
.dataHostCardList-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(228, 228, 228, 0.2);
  border-radius: 10px;
  background: #ededed;
}
