.cards-list-body {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}

.cards-list-content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  /* background-color: antiquewhite; */
}

.cards-list-pagination {
  width: 100%;
  height: 10%;
  /* height: calc(100% - 520px); */
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

/* 滚动条整体 */
.cards-list-content::-webkit-scrollbar {
  height: 10px;
  width: 12px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.cards-list-content::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
.cards-list-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(228, 228, 228, 0.2);
  background: rgba(228, 228, 228, 0.6);
}

/* 滚动条轨道 */
.cards-list-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(228, 228, 228, 0.2);
  border-radius: 10px;
  background: #ededed;
}
