.dataHost-left-list-body {
  width: var(--dataHost-left-list-width, 200px);
  height: 100vh;
  background-color: #001529;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  overflow: auto;
}

.dataHost-left-list-card-body {
  width: 100%;
  height: 45px;
  min-height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.1s all;
}

.dataHost-left-list-card-body:hover {
  background-color: #1677ff;
  border-radius: 6px;
  cursor: pointer;
}

.dataHost-left-list-card-body:active {
  background-color: #0958d9;
}

.dataHost-left-list-card-body > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.dataHost-left-list-card-select {
  background-color: #1677ff;
  border-radius: 6px;
}

.dataHost-left-list-logo-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 滚动条整体 */
.dataHost-left-list-body::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.dataHost-left-list-body::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
.dataHost-left-list-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(228, 228, 228, 0.2);
  background: rgba(46, 46, 46, 0.6);
}

/* 滚动条轨道 */
.dataHost-left-list-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(228, 228, 228, 0.2);
  border-radius: 10px;
  background: #ededed;
}
