################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/backend/.vs/backend/DesignTimeBuild/.dtbcache.v2
/backend/.vs/backend/v17/.suo
