.dataHost-default-var {
  color: white;
  --dataHost-left-list-width: 200px;
  @media screen and (max-width: 1024px) {
    --dataHost-left-list-width: 120px;
  }
  --dataHost-checkIn-width: 180px;
}

.dataHost-body {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
}

.dataHost-left {
  width: var(--dataHost-left-list-width);
  height: 100%;
}

.dataHost-middle {
  width: calc(100% - var(--dataHost-left-list-width));
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  min-width: 600px;
}

.dataHost-middle-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px rgb(184, 184, 184);
  padding-right: 10px;
  box-sizing: border-box;
}

.dataHost-middle-header > svg {
  transition: 0.2s all;
  margin-right: 5px;
}

.dataHost-middle-header > svg:hover {
  background-color: rgb(170, 170, 170, 0.3);
  border-radius: 6px;
  cursor: pointer;
}

.dataHost-middle-body {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  overflow: auto;
}

.dataHost-middle-content-body {
  width: 90%;
  margin-top: 20px;
}

/* 滚动条整体 */
.dataHost-middle-body::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.dataHost-middle-body::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
.dataHost-middle-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(228, 228, 228, 0.2);
  background: rgba(152, 152, 152, 0.6);
}

/* 滚动条轨道 */
.dataHost-middle-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(228, 228, 228, 0.2);
  border-radius: 10px;
  background: #ededed;
}
