.dataHost-default-var {
  color: white;
  --dataHost-left-list-width: 200px;
  --dataHost-checkIn-width: 180px;
}

.dataHost-body {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
}

.dataHost-left {
  width: var(--dataHost-left-list-width);
  height: 100%;
  background-color: rgb(42, 131, 209);
}

.dataHost-middle {
  width: calc(100% - var(--dataHost-left-list-width));
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.dataHost-middle-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 2px rgb(207, 207, 207);
  padding-right: 10px;
  box-sizing: border-box;
}

.dataHost-middle-header > svg {
  transition: 0.2s all;
  margin-right: 5px;
}

.dataHost-middle-header > svg:hover {
  background-color: rgb(170, 170, 170, 0.3);
  border-radius: 6px;
  cursor: pointer;
}

.dataHost-middle-body {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataHost-middle-content-body {
  width: 90%;
  height: 90%;
  overflow: auto;
}
/* 
.dataHost-right {
  width: var(--dataHost-checkIn-width);
  height: 100%;
  background-color: blueviolet;
} */
