.dataHost-left-list-body {
  width: 200px;
  height: 100%;
  background-color: #001529;
  box-shadow: 1px 0px 8px rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
  position: fixed;
}

.dataHost-left-list-card-body {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.1s all;
}

.dataHost-left-list-card-body:hover {
  background-color: #1677ff;
  border-radius: 6px;
  cursor: pointer;
}

.dataHost-left-list-card-body:active {
  background-color: #0958d9;
}

.dataHost-left-list-card-body > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.dataHost-left-list-card-select {
  background-color: #1677ff;
  border-radius: 6px;
}

.dataHost-left-list-logo-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
