@page "/"
@model interviewer.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
<div>
    <div>Index</div>
    <div>
        <a href="/Swagger">Swagger</a>
    </div>
</div>
</body>
</html>