.login-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 725px;
  background-color: rgb(240, 240, 240);
}

.login-body * {
  user-select: none;
}

.login-content {
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(136, 146, 157, 0.15);
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-content-title {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  font-weight: 700;
  /* background-color: blue; */
}

.login-content-input-body {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.login-content-input-body > div {
  margin: 6px;
}
