.dataHostCard-body {
  width: 100%;
  border-radius: 8px;
  border-right: 6px solid red;
  box-sizing: border-box;
  box-shadow: 0.2em 0.1em 1em rgba(140, 140, 140, 0.2);
  animation: show 0.4s;
  transition: 0.2s all;
}

.dataHostCard-body:hover {
  outline: 5px solid rgb(219, 219, 219);
  cursor: pointer;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

