.color-flag-body {
  width: 80px;
  height: 28px;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.color-flag-body > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.color-flag-sq {
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 6px;
}
