.dangling-box-body {
  position: fixed;
  width: 280px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px rgba(136, 146, 157, 0.15);
  left: 5px;
  top: 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s;
}

.dangling-box-title {
  font-size: large;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.dangling-box-content {
  width: 100%;
  text-align: left;
  max-height: 66px;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 6px;
}
