.host-page {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
}

.host-page * {
  user-select: none;
}

.host-header {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding-left: 10px;
  box-sizing: border-box;
}

.host-header > div {
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.host-header-flesh:hover {
  background-color: rgba(83, 64, 206, 0.2);
  color: white;
  cursor: pointer;
}

.host-header-flesh:active {
  background-color: #aaa;
}

.host-body {
  width: 100%;
  height: calc(100% - 40px);
  min-height: 619px;
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  /* background-color: black; */
}

.host-body-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.host-body-middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.host-body-right {
  height: 100%;
  border-left: 1px solid #ccc;
  min-width: 95px;
}

.host-left-list-div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.host-cards-body {
  width: 95%;
  height: 90%;
  min-width: 450px;
  margin: auto;
  /* background-color: red; */
}

.host-color-flag {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}

.host-color-flag > div {
  box-sizing: border-box;
  margin-right: 5px;
}

.host-modal-chart-body {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.colorful-egg {
}
