.host-page {
  width: 100%;
  height: 100%;
  background-color: var(--host-dark-background-color, rgb(250, 250, 250));
  color: var(--host-dark-font-color, black);
}

.host-page * {
  user-select: none;
}

.host-header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  box-shadow: 0.2em 0.1em 1em rgba(140, 140, 140, 0.2);
}
/* 
.host-header > div {
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
} */

.host-header-button-body {
  display: flex;
  height: 100%;
}

.host-header-button-body > div {
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.host-header-flesh:hover {
  background-color: rgba(83, 64, 206, 0.2);
  color: white;
  cursor: pointer;
}

.host-header-flesh:active {
  background-color: #aaa;
}

.host-body {
  width: 100%;
  height: calc(100% - 42px);
  min-height: 619px;
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  /* background-color: black; */
}

.host-body-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.host-body-middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.host-body-right {
  height: 100%;
  border-left: 1px solid #ccc;
  min-width: 95px;
}

.host-left-list-div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.host-cards-body {
  width: 95%;
  height: 90%;
  min-width: 450px;
  margin: auto;
  /* background-color: red; */
}

.host-color-flag {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}

.host-color-flag > div {
  box-sizing: border-box;
  margin-right: 5px;
}

.host-modal-chart-body {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.host-header-search-frame-body {
  margin-left: 10px;
  height: 32px;
  width: 200px;
}

.host-dark-theme {
  --host-dark-font-color: white;
  --host-dark-background-color: #333333;
  --host-dark-card-color: #292929;
  --card-border: 1px solid white;
}
