.checkin-card-body {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  border-radius: 6px;
  outline: 1px solid #ccc;
  margin-bottom: 5px;
  box-shadow: 0px 3px 6px rgba(136, 146, 157, 0.15);
  /* background-color: #fff; */
  transition: all 0.2s;
}

.checkin-card-body:hover {
  background-color: rgb(106, 90, 205);
  cursor: pointer;
  color: white;
}

.checkin-card-body:active {
  background-color: rgb(217, 217, 217);
}
