.card-body {
  width: 70%;
  height: 100px;
  border: 1px solid black;
  border-radius: var(--card-border-radius);
  margin: auto;
  margin-top: 5px;
  display: flex;
  box-shadow: var(--card-box-shadow);
  transition: all 0.2s;
  animation-name: card-show;
  animation-duration: 0.2s;
}

.card-body:hover {
  background-color: var(--card-hover-color);
  cursor: pointer;
}

.card-body:active {
  background-color: white;
}

.card-title {
  width: 30%;
  height: 100%;
}

.card-title-name {
  width: 100%;
  height: 50%;
  font-size: larger;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title-name > span {
  line-height: 2px;
}

.card-title-dep {
  width: 100%;
  height: 50%;
  font-size: larger;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-content > div {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 700;
  box-sizing: border-box;
  padding: 5px;
}

.card-content-text {
  height: 100%;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

@keyframes card-show {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}
