.admin-body {
  width: 100%;
  height: 100%;
  user-select: none;
}

.admin-content {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 815px;
}
